html {
  scroll-behavior: smooth;
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff !important;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Increase z-index to ensure it's on top */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visibility */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.whatsapp_float:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp_float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 10px;
    font-size: 24px; /* Adjust font size for mobile */
  }
}
