@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header {
  z-index: 10001 !important;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}
.btn-primary {
  padding: 0.5rem 1.75rem;
  color: white;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  background-color: var(#03a9d1);
}

.btn-primary:hover {
  background-color: var(#03a9d1);
  transform: translateY(0.25rem);
}

.bg-neutralSilver {
  background-color: #f6f9fe;
}
